<div id="footer">
    <div class="container footer-container">
        <div class="footer-aboutme">
            <img src="https://source.unsplash.com/200x200/?person,profile" alt="Profile" />
            <div>
                <h3>About me</h3>
                <p>John Test</p>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum sunt fugit eius molestiae esse soluta, asdkl asjlkdjsalkdjlksa jasdlkjsadlkj lajsdlksajdlkjasdlkjsa ljasdjasldjl</p>
        </div>
        <div class="footer-contact">
            <h3>Contact</h3>
            <p><i class="las la-envelope"></i> <a href="mailto:webmaster@example.com">test@example.com</a></p>
            <p><i class="lab la-twitter-square"></i> <a href="www.twitter.com/johntest">www.twitter.com/johntest</a></p>
        </div>
        <div class="footer-social">
            <h3>Let's be social</h3>
            <a href="http://facebook.com"><i class="lab la-facebook la-2x"></i></a>
            <a href="http://twitter.com"><i class="lab la-twitter la-2x"></i></a>
            <a href="http://instagram.com"><i class="lab la-instagram la-2x"></i></a>
        </div>
        <div>
            <p>
                Copyright &copy; 2020, All Rights Reserved
            </p>
        </div>
    </div>
</div>

@code {

}
